.main-container {
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url('https://primefaces.org/cdn/primeng/images/landing/wave-light-alt.svg');
}
.create-new-contact {
    margin: 4px;
    float: right;
    z-index: 1;
}